[Unit]
Description=rpi-kvm
After=multi-user.target
 
[Service]
Type=forking
ExecStart=__install_dir__/rpi-kvm.sh restart
WorkingDirectory=__install_dir__
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
