[Unit]
Description=rpi-kvm
After=multi-user.target
 
[Service]
Environment="LOG_LEVEL=INFO"
Type=forking
ExecStart=__INSTALL_DIR__/rpi-kvm.sh restart
WorkingDirectory=__INSTALL_DIR__
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
